body {
    background-color: #f0f0ed;
    font-family: "Open Sans", sans-serif;
  }

  
/* carusel */
.carousel-item {
  width: 100%;
  height: 700px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* beneficios */
#beneficios {
  background-color: #597E52;

  li {
    color: white;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .beneficio-item {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/* lista de destacados */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card-destacados {
  h1, h2 {
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: #555;
    &::after {
      content: "";
      display: block;
      background: #597e52;
      width: 160px;
      height: 5px;
      border-radius: 5px;
      margin: 10px auto;
    }
    }
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  
}

.card {
  width: 18rem;
 @include card-hover;


  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &-text {
    color: #555;
  }
}




.card-body {
  .btn-primary {
    background-color: #597e52;
    border: none;
    outline: none;
    border-radius: 8px;
    &:hover {
      background-color: #8dc981;
    }
  }
 
}

/* marcas */
.brands {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0%);
}