/* Responsive */
/* Media Queries para pantallas pequeñas (max-width: 767px) */
@media (max-width: 767px) {
  .catalogo-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; 
    padding: 10px; 
  }

  .contenedor-general-filtros {
    width: 100%; 
    order: -1; 
  }

  .catalogo-container-producto {
    text-align: center;
    margin-top: 0; 
  }

  .catalogo-container-producto img {
    height: 200px;
    max-width: 100%;
    object-fit: cover; 
    margin: 0 auto;
  }
  .sidebar {
    background-color: #161616;
    
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-guia {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna en lugar de fila */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
  }
  
  .container-guia img {
    width: 100%; /* Hacer que la imagen ocupe el ancho completo del contenedor */
    border-radius: 8px 8px 0 0; /* Ajustar el redondeo de las esquinas */
  }
  
  .container-guia-text {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .beneficio-item {
    flex: 0 0 calc(100% - 20px);
  }
}

  /* Media Queries para pantallas medianas (min-width: 768px) and (max-width: 1199px) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .catalogo-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; 
      padding: 10px; 
    }
  
    .contenedor-general-filtros {
      width: 100%; 
      order: -1; 
    }
  
    .catalogo-container-producto {
      text-align: center;
      margin-top: 0; 
    }
  
    .catalogo-container-producto img {
      height: 200px;
      max-width: 100%;
      object-fit: cover; 
      margin: 0 auto;
    }
    .sidebar {
      background-color: #161616;
      
    }
    .beneficio-item {
      flex: 0 0 calc(50% - 20px);
    }
    
  }
  /* Media Queries para pantallas grandes (min-width: 1200px) */
  @media (min-width: 1200px) {
    .col-5 {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .col-5:last-child {
      margin-right: 0;
    }
    .container-catalogo,
    .contenedor-general {
      max-width: 1200px;
      margin: 0 auto;
    }
    .contenedor-general-filtros {
      width: 200px;
    }
    .catalogo-container-producto img {
      height: 300px;
    }
  }
  